<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{url_for('static',filename='dist/css/output.css')}} rel="stylesheet" />
    <title>Password Guesser</title>
  </head>
  <body>
    <main class="w-9/12 m-auto">
      <h1
        class="font-bold py-5 underline underline-offset-8 decoration-fuchsia-600 decoration-4"
      >
        Password Guesser
      </h1>
      <section class="mt-16">
        <p></p>
        <form
          class="flex items-start gap-6 flex-col"
          action="/submit"
          method="post"
        >
          <div>
            <label for="words">Liste de mots :</label>
            <p>
              Exemple : prénom, nom, nom du chien, ville de naissance, couleur
              préféré, département de naissance et actuel, nom animaux
            </p>
            <input
              id="words"
              class="border-gray-500 border-2 p-1 rounded-md"
              type="text"
              name="words"
            />
          </div>
          <div>
            <label for="date">Date :</label>
            <input
              class="border-gray-500 border-2 p-1 rounded-md"
              type="date"
              id="date"
              name="date"
            />
          </div>
          <div>
            <div>
              <label for="characters">Caractères spéciaux</label>
              <input
                class="bg-fuchsia-600 checked:bg-fuchsia-600"
                type="checkbox"
                id="characters"
                name="characters"
              />
            </div>
            <div>
              <label for="leet">Leet</label>
              <input id="leet" name="leet" type="checkbox" />
            </div>
          </div>
          <input
            value="Valider"
            type="submit"
            class="px-4 py-2 bg-fuchsia-600 hover:bg-fuchsia-500 text-white rounded-lg mt-4"
          >
            Valider mes informations
          </input>
        </form>
      </section>
    </main>
  </body>
</html>
